body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a164df;
  font-family: Arial, sans-serif;
}

#buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn,
.stop {
  background-color: #663399;
  color: white;
  border: none;
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover,
.stop:hover {
  opacity: 0.8;
}